{% extends 'base.html.twig' %}

{% block title %}
    403 {{ 'errors.no_permission'|trans }}
{% endblock %}

{% block body %}
    <section class="section">
        <h1 class="title">
            403 {{ 'errors.no_permission'|trans }}
        </h1>
    </section>
    <section class="section">
        <p>{{ 'errors.no_permission_long'|trans }}</p>
    </section>
{% endblock %}
