{% extends 'base.html.twig' %}

{% block title %}
    Create new page
{% endblock %}

{% block body %}
    <section class="section">
        <h1 class="title">
            {{ 'pages.new'|trans }}
        </h1>
    </section>
    <section class="section">

    </section>
{% endblock %}
